<div id="drag_images" class='drag_images_wrap'>
  <%= render 'shared/spinner' %>

  <div class="right_side drag_images">
    <%= content_tag :h2, "MY #{t('user.images').upcase}"%>

    <% unless images.empty? %>
      <div class="images">
        <% images.each do |image| %>
          <div class='image'>
            <%= image_tag image.picture.url %>
          </div>
        <% end %>
      </div>

      <%= paginate images, remote: true, window: 1 %>
    <% else %>
      <%= content_tag :div, 'No images uploaded yet.', :class => :no_data %>
    <% end %>

    <%= content_tag :div, t('article.image_notes'), :class => :note %>
  </div>
</div>