<%= content_for :title, 'Images' %>

<div class="my_images">
  <div class="list">
    <h1><%= "MY #{t('user.images').upcase}" %></h1>
    <div class="images">
      <%= content_tag :div, :class => 'img' do %>
        <%= render 'images/form', attachable: current_user %>
      <% end %>

      <%= render @images %>

      <%= paginate @images %>
    </div>
  </div>
</div>
